version: '3.9'

services:
  db:
    container_name: postgres
    image: postgres
    restart: always
    volumes:
      - db:/data/postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: oeddevpwd123
      POSTGRES_USER: oeddev
      POSTGRES_DB: oed

volumes:
  db: