version: '3.9'

services:
  db:
    container_name: postgres
    image: postgres
    restart: always
    volumes:
      - db:/data/postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: oeddevpwd123
      POSTGRES_USER: oeddev
      POSTGRES_DB: oed
  cache:
    container_name: redis
    image: redis
    restart: always
    volumes:
      - cache:/data
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass oeddevpwd123

volumes:
  db:
    driver: local
  cache:
    driver: local